<h2>Настройки Базы данных</h2>
<div class="account-content-item border-bottom">
    <div class="account-content-item__line d-flex justify-content-start">
        <div class="account-content-item__line_label">Хост:</div>
        <div class="account-content-item__line_actions d-flex justify-content-between setting_info_block">
            <div class="account-content-item__line_data ">{{app.dbHost}}</div>
            <div class="account-content-item__line_action">
                <a href="#" class="setting_info_block_button">Изменить</a>
            </div>
        </div>
        <div class="account-content-item__line_actions d-none justify-content-between setting_change_block">
            <div class="account-content-item__line_settings">
                <input class="form-control form-control-sm" type="text" placeholder="DB Host" value="{{app.dbHost}}">
                <button type="button" class="btn btn-primary btn-sm my-2">Сохранить</button>
            </div>
            <div class="account-content-item__line_action">
                <a href="#" class="settings_change_block_button">Отмена</a>
            </div>
        </div>
    </div>
</div>
<div class="account-content-item border-bottom">
    <div class="account-content-item__line d-flex justify-content-start">
        <div class="account-content-item__line_label">DB User</div>
        <div class="account-content-item__line_actions d-flex justify-content-between setting_info_block">
            <div class="account-content-item__line_data ">{{app.dbUser}}</div>
            <div class="account-content-item__line_action">
                <a href="#" class="setting_info_block_button">Изменить</a>
            </div>
        </div>
        <div class="account-content-item__line_actions d-none justify-content-between setting_change_block">
            <div class="account-content-item__line_settings">
                <input class="form-control form-control-sm" type="text" placeholder="DB User" value="{{app.dbUser}}">
                <button type="button" class="btn btn-primary btn-sm my-2">Сохранить</button>
            </div>
            <div class="account-content-item__line_action">
                <a href="#" class="settings_change_block_button">Отмена</a>
            </div>
        </div>
    </div>
</div>
<div class="account-content-item border-bottom">
    <div class="account-content-item__line d-flex justify-content-start">
        <div class="account-content-item__line_label">DB Password</div>
        <div class="account-content-item__line_actions d-flex justify-content-between setting_info_block">
            <div class="account-content-item__line_data ">{{app.dbPassword}}</div>
            <div class="account-content-item__line_action">
                <a href="#" class="setting_info_block_button">Изменить</a>
            </div>
        </div>
        <div class="account-content-item__line_actions d-none justify-content-between setting_change_block">
            <div class="account-content-item__line_settings">
                <input class="form-control form-control-sm my-2" type="password" placeholder="Old password">
                <input class="form-control form-control-sm" type="password" placeholder="New Password">
                <button type="button" class="btn btn-primary btn-sm my-2">Сохранить</button>
            </div>
            <div class="account-content-item__line_action">
                <a href="#" class="settings_change_block_button">Отмена</a>
            </div>
        </div>
    </div>
</div>
<div class="account-content-item border-bottom">
    <div class="account-content-item__line d-flex justify-content-start">
        <div class="account-content-item__line_label">DB user table</div>
        <div class="account-content-item__line_actions d-flex justify-content-between setting_info_block">
            <div class="account-content-item__line_data ">{{app.dbTable}}</div>
            <div class="account-content-item__line_action">
                <a href="#" class="setting_info_block_button">Изменить</a>
            </div>
        </div>
        <div class="account-content-item__line_actions d-none justify-content-between setting_change_block">
            <div class="account-content-item__line_settings">
                <input class="form-control form-control-sm my-2" type="text" placeholder="Old table_name">
                <input class="form-control form-control-sm" type="text" placeholder="New table_name">
                <button type="button" class="btn btn-primary btn-sm my-2">Сохранить</button>
            </div>
            <div class="account-content-item__line_action">
                <a href="#" class="settings_change_block_button">Отмена</a>
            </div>
        </div>
    </div>
</div>
<div class="account-content-item border-bottom">
    <div class="account-content-item__line d-flex justify-content-start">
        <div class="account-content-item__line_label">DB Port</div>
        <div class="account-content-item__line_actions d-flex justify-content-between setting_info_block">
            <div class="account-content-item__line_data ">{{app.dbPort}}</div>
            <div class="account-content-item__line_action">
                <a href="#" class="setting_info_block_button">Изменить</a>
            </div>
        </div>
        <div class="account-content-item__line_actions d-none justify-content-between setting_change_block">
            <div class="account-content-item__line_settings">
                <input class="form-control form-control-sm my-2" type="text" placeholder="{{app.dbPort}}">
                <button type="button" class="btn btn-primary btn-sm my-2">Сохранить</button>
            </div>
            <div class="account-content-item__line_action">
                <a href="#" class="settings_change_block_button">Отмена</a>
            </div>
        </div>
    </div>
</div>
<div class="account-content-item border-bottom">
    <div class="account-content-item__line d-flex justify-content-start">
        <div class="account-content-item__line_label">DB Type:</div>
        <div class="account-content-item__line_actions d-flex justify-content-between setting_info_block">
            <div class="account-content-item__line_data ">{{app.dbType}}</div>
            <div class="account-content-item__line_action">
                <a href="#" class="setting_info_block_button">Изменить</a>
            </div>
        </div>
        <div class="account-content-item__line_actions d-none justify-content-between setting_change_block">
            <div class="account-content-item__line_settings">
                <select class="form-control">
                    <option value="Mysql">Mysql</option>
                    <option value="Mssql">Mssql</option>
                    <option value="MongoDB">MongoDB</option>
                    <option value="PostgreSQL">PostgreSQL</option>
                </select>
                <button type="button" class="btn btn-primary btn-sm my-2">Сохранить</button>
            </div>
            <div class="account-content-item__line_action">
                <a href="#" class="settings_change_block_button">Отмена</a>
            </div>
        </div>
    </div>
</div>