<div class="user-header">
  <h2>Пользователи ресурса</h2>
  <button class="btn btn-sm btn-warning" onClick="updateAPCUsers()">Обновить список пользователей</button>
</div>
<div class="alert-content"></div>
<div class="account-content-item border-bottom">
  <div class="account-content-item__line d-flex justify-content-between">
    <div class="account-content-item__line_label">User id</div>
    <div class="account-content-item__line_label">User login</div>
    <div class="account-content-item__line_label">Изменить пароль</div>
    <div class="account-content-item__line_label">Статус APC</div>
  </div>  
</div>
{{#each app}}
  <div class="appIdSingleApp" style="display:none" data-appId="{{appId}}"></div>
  {{#each users}}
  <div class="account-content-item border-bottom">
    <div class="account-content-item__line d-flex justify-content-between">
      <div class="account-content-item__line_label">{{userId}}</div>
      <div class="account-content-item__line_label">{{username}}</div>
      <div class="account-content-item__line_actions d-flex justify-content-between">
        <button class="btn btn-sm btnChangeSingeApc" onClick="changeUserPassword({{userId}})">
            <svg xmlns="http://www.w3.org/2000/svg" class="si-glyph-arrow-reload">
              <use xlink:href="../../img/svg/sprite.svg#si-glyph-arrow-reload" />
            </svg>
        </a>
      </div>
      <div class="account-content-item__line_label">       
        {{#if isActive}}
          <button class="btn btn-sm btn-danger" onClick="disActivateSingleAPC({{id}}">Выкл</a>
        {{else}}
          <button class="btn btn-sm btn-success" onClick="activateSingleAPC({{id}})">Вкл</a>
        {{/if}}
      </div>
    </div>
  </div>
  {{/each}}
{{/each}}